<!-- admin.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Travelgraphy - About us</title>
  <link rel="icon" href="/images/logo.jpeg" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
</head>
<main>
<body>
  <h1> Travelgraphy <br>
    Capturing and Preserving Your Travel Memories</h1>
  <p>
    Capture, edit, store, and relive your travel memories in an easy and personal way. 
    We're here to help you reminisce about those magical moments and preserve the tips and details that make each journey special.<br>
    At Travelgraphy, you can create your own travel journal, record your adventures, and save all the important information. Whether it's places visited,
     experiences lived, or valuable tips, our platform is here to help you preserve and relive your travel stories.<br>
    Start creating your travel journal today and embark on a journey to forever remember and share your experiences.
  </p>


  <div class="image-container"></div>
  <div class="home">
  <a href="/home" class="btn">Home Page</a>  
  <a href="/register" class="btn">Register</a>
  <a href="/signin" class="btn">Sign In</a>
      
   
  </div>




</body>
</html>