<!-- admin.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Travelgraphy - Admin</title>
  <link rel="stylesheet" href="style.css">
</head>
<main>
<body>
  <h1>Travel Gallery</h1>
  <p>Here they are, my favorite travel memories</p>
  <!-- Adicione o conteúdo da galeria -->
  <div class="gallery">
    <% trips.forEach((trip) => { %>
      <div class="gallery-item">
        <img src="<%= trip.image %>" alt="<%= trip.destination %>">
        <div class="comment"><%= trip.comment %></div>
      </div>
    <% }); %>
  </div>
</main>
</body>
</html>
