<!-- admin.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Travelgraphy - Admin</title>
  <link rel="stylesheet" href="style.css">
</head>
<main>
<body>

  <h1>Welcome Travelgraphers, </h1>


  <a class="create-post-button" href="/new-post">Create New Post</a>

</body>
</html>