<!-- create-post.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Create Post</title>

 

</head>
<body>
  <h1>Create New Post</h1>
  <!-- Formulário para criar um novo post... -->

  <form action="/create-post" method="POST">

    <div>
      <label for="title">Local </label>
      <input type="text" id="title" name="title" required>
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="create-image-url">Image</label>
  <input type="file" class="form-control-file form-control " id="create-image-file">
  </div>
   
    <button type="submit">Create Post</button>
  </form>
</body>
</html>