<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
  <main>
  <!-- Conteúdo da página inicial -->
  <img src="/images/capahome (1).png" alt="background" class="home">
  </main>

  <title>Travelgraphy - home</title>
  <link rel="stylesheet" href="style.css">
</head>
<body class="home">
  <!-- Conteúdo da página inicial -->
        <li>
          <a href="#">About Travelgraphy</a>
        </li>
        <li>
          <a href="/register">Register</a>
        </li>
        <li>
          <a href="/signin">Sign In</a>
        </li>
      </ul>
    </div>
  </div>

</body>
</html>
