<!-- home.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Travelgraphy - home</title>
  <link rel="stylesheet" href="style.css">
</head>
<body class="home">
  <!-- Conteúdo da página inicial -->
        <li>
          <a href="#">About Travelgraphy</a>
        </li>
        <li>
          <a href="/register">Register</a>
        </li>
        <li>
          <a href="/signin">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
