<!-- signin.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>My Travel App - Sign In</title>
  <link rel="stylesheet" href="style.css">
  
</head>
<body>
  <h1>Travelgraphy App </h1>
  <!-- Conteúdo da página de login -->

  <div class="container">
    <% if (typeof errorMsg !== 'undefined') { %>
      <div class="error-message"><%= errorMsg %></div>
    <% } %>
    <form class="signin-form" action="/signin" method="POST">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="btn btn-primary"  href="/admin"> Sign In</button>
    </form>
  </div>
 
</body>
</html>
