<!-- signin.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Travelgraphy - Sign In</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class ="capahomesemfundo">
    <img src="../images/capahomesemfundo.png" alt="logoroxo">
  <h1> Sign In</h1>
  <!-- Conteúdo da página de login -->
  <div class="container">
    <% if (typeof errorMsg !== 'undefined') { %>
      <div class="error-message"><%= errorMsg %></div>
    <% } %>
 
    <form action="/signin" method="POST">
        <label for="email">
          <span>Email</span>
          <input type="email"  id="email" name="email" placeholder="Enter your email" required>
        </label>
     
        <label for="password">
          <span>Password</span>
          <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </label>


          <button type="submit" class="button-container"  href="/admin"> Sign In</button>
          <button type="submit" class="button-container"  href="/home"> Home Page</button>
        </div>
    </form>
    </div>
  </main>
</body>
</html>
