@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0px;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1B2029;
  background-image: url("./images/4.svg"); 
  background-size: cover;
  color: white;
  font-weight: 500;
  display: flex;
  min-height: 50vh;
  min-width: 50vw;
}


/*  pagina home */
.home {
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Ajuste a altura desejada */
  }
  
  .image-container {
    background-image: url("./images/5.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0%;
    left: 00%;
    z-index: -1;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .btn {
    display: flex;
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #6C63FF;
    color: white;
    text-decoration: none;
    border-radius: 32px;
    transition: all .3s ease-in-out;
    margin-right: 10px;
     }
  
  .btn-register {
    align-self: center; /* Centraliza o botão de Register */
  }
  
  .btn-signin,
  .btn-aboutus {
    align-self: flex-end; /* Posiciona os botões de Sign In e About Us no lado direito */
  }
  
  
/*  pagina signin */

.container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1 {
    color: #8880FE;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.error-message {
  color: red;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.button-container {
    display: flex;
  }
  
  .button-container .button {
    display: inline-block;
    margin-top: 4rem;
    padding: 10px 20px;
    background-color: #6C63FF;
    color: white;
    text-decoration: none;
    border-radius: 32px;
    transition: all .3s ease-in-out;
    margin-right: 10px;

  }
  
  .button-container .button:last-child {
    margin-right: 0;
  }
  
  .button-container .button:hover {
    background-color: #5952d4;
    cursor: pointer;
  }
  
/*  pagina register */
.button-home {
    position: fixed;
    top: 70%;
    left: 78%;
    cursor: pointer;
    width: 11%;
    height: 7%;
    margin-top: 1rem;
    border: none;
    border-radius: 32px;
    background: #6C63FF;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
    outline: none;
    text-decoration: none;
    text-align: center;
  }
  
  .button-home:hover {
    background: #5952d4;
  }
  
  


main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #8880FE;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

main.social-media {
    display: flex;
    align-content: center;
}

main .social-media a {
    text-decoration: none;
}

main .social-media img {
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img {
    margin-left: 0;
}

main .alternative {
    margin-top: 1rem;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}

main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgba(255, 255, 255, 0.3);
}

main .alternative span::after {
    left: 50px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 0rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 1rem;
    border: none;
    border-radius: 32px;
    background: #6C63FF;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #5952d4;
}

section.images {
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem 2rem 4rem 8rem; 
}

section.images img {
    width: 190%;
 
}

section.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #E8CBC0, #636FA4);
    clip-path: circle(40% at right 80%);
    z-index: -1;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    section.images .circle {
        clip-path: circle(35% at right 80%);
    }
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}

/*  adm page */

:root {
      --menu-color: #636FA4;
    --secondary-color: #636FA4;
    --circle1-color: #636FA4;
    --circle2-color: #636FA4;
    --circle3-color: #636FA4;
}
nav {
  display: flex;
  padding: 2rem 3rem;
  align-items: flex-start; /* Alinha os itens no topo */
  margin-bottom: 5rem;
}

nav .menu {
  display: flex;
  justify-content: flex-end; /* Alinha os itens à direita */
  padding: 2rem 3rem;
}

nav .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .menu ul li {
  display: inline-block;
  margin-right: 10px; /* Espaço de 10px entre os botões */
}
nav .menu ul a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6C63FF;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 32px;
    transition: background-color 0.3s ease-in-out;
    opacity: 0.2; /* Opacidade de 80% */
  }
  
  nav .menu ul a:hover {
    background-color: #5952d4;
    opacity: 2; /* Opacidade total ao passar o mouse */
  }
  



main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 10rem;
}

section.text {
  text-align: justify;
  margin-top: 5rem;
  margin-right: 45rem; /* Ajuste o valor de acordo com a posição desejada */
}


section.text h1 {
  color: #636FA4;
  font-size: 3.5rem;
  max-width: 300px;
  margin-bottom: 3rem;
}

section.text span {
font-size: 1.4rem; /* Ajuste o valor para o tamanho desejado */
color: var(--secondary-color);
  display: inline-block;
  max-width: 380px;
  line-height: 2rem;
}

section.image {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

section.image img {
  width: 750px;
  transition: all 0.3s ease-in-out;
   margin-top: -10rem; /* Ajuste o valor conforme necessário para mover a imagem para cima */
    margin-right: 10rem; /* Ajuste o valor conforme necessário para mover a imagem para a direita */
}

section.image img:hover {
  transform: translateY(-35px);
}

.circle-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--circle1-color);
    clip-path: circle(600px at 100% 100px);
    z-index: -1;
}

.circle-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--circle2-color);
    clip-path: circle(300px at center 900px);
    z-index: -1;
}

.circle-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--circle3-color);
    clip-path: circle(150px at 50px 300px);
    z-index: -1;
}